body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

.page-enter-active, .page-leave-active {
  transition: opacity .4s
}
.page-enter, .page-leave-active {
  opacity: 0
}

a {
  text-decoration: none;
  color:#cfd8dc;
}

a:hover {
  text-decoration: none;
  color: #00bfa5;
}


tr:hover {
   background-color: transparent !important;
}

.v-application a {
  color:#cfd8dc;
}

.v-application a:hover {
  color:#00bfa5;
}

[v-cloak] > * { display:none; }
[v-cloak]::before {
  content: " ";
}
